body{
    font-family: 'Roboto', sans-serif;
    background-image: url("./assets/burger-friends.jpg");
    background-size: cover;
    margin: 0;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-direction: column;
    text-align: center;
    margin: 100px auto 0px auto;
    height: 300px;
    width: 300px;
    background-color: rgba(225, 225, 225, .8);
}

#form-title{
    font-size: 40px;
    font-weight: bolder;
    color: black;
}

#form-name{
    height: 50px;
    width: 250px;
    background-color: rgba(225, 225, 225, .0);
    border-color:  #E97451;
    border-width: 3px;
    border-radius: 8px;
    font-size: 26px;
    text-align: center;
}

#form-submit {
    color: rgba(225, 225, 225);
    font-size: 20px;
    font-weight: bold;
    background-color:#A63E21;
    height: 50px;
    width: 260px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

#form-submit:hover {
    background-color: #e1b72e;
    border-color:  white;
    color: white;
}

#welcome-name{
    color: #e1b72e;
}

.hidden {
    display: none;
  }
  
.wrapper {
    margin: 100px;
    display: flex;
    justify-content: space-evenly; 
    flex-direction: row;
}

.top-nav {
    height: 60px;
    width: auto;
    background-color: #A63E21;
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
}

.site-title-container {
    padding: 0px 0px 0px 50px;
}

#site-title {
    color: rgba(225, 225, 225);
    letter-spacing: 2px;
    font-size: 35px;
    margin: 10px;
}

.box {
    height: 375px;
    width: 500px;
    background-color: rgba(225, 225, 225, .9);
  }

.add-recipe-container {
    padding: 0px 50px 100px 0px;
}

#add-recipe-button {
    height: 40px;
    width: 120px;
    font-weight: bold;
    background-color: rgba(225, 225, 225);
    border-radius: 10px;
    margin: 10px;
    transition-duration: 0.2s;
}

#add-recipe-button:hover {
    background-color: #e1b72e;
    color: white;
    border-color: white;
}

#start-title {
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
    padding: 30px 0px 0px 20px;
}

.radio-buttons {
    font-size: 20px;
    margin: 15px;
    line-height: 40px;
    padding-left: 30px;
}

.lets-cook-container {
    padding: 30px 0px 0px 40px;
}

#lets-cook-button {
    font-size: 16px;
    font-weight: bold;
    background-color:#A63E21;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

#lets-cook-button:hover {
    background-color: #e1b72e;
    border-color: white;
    color: white;
}

.pot {
    height: 300px;
    width: 300px;
    padding: 60px 0px 0px 100px;
}

.output-container{
    text-align: center;
    padding-top: 75px;
}

#output-intro {
    font-size: 20px;
}

#output-name {
    font-size: 60px;
    margin: 0px 30px 0px 30px;
    word-break: keep-all; 
}

#welcome-statement{
    color: rgba(225, 225, 225);
    background-color: rgba(60, 60, 60, .7);
    display: table;
    margin: 40px auto 0px auto;
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 3px;
}

