/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body{
    background-image: url("./assets/burger-friends.jpg");
    background-size: cover;
    margin: 0;
}

.wrapper {
    margin: 100px;
    display: flex;
    justify-content: space-evenly; 
    flex-direction: row;
}

.top-nav {
    height: 60px;
    width: auto;
    background-color: #0fb9b1;
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
}

.box {
    height: 375px;
    width: 500px;
    background-color: rgba(225, 225, 225, .9);
  }

#site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin: 10px;
}

#add-recipe-button {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(225, 225, 225);
    border-radius: 10px;
    margin: 10px;
}

.pot {
    height: 300px;
    width: 300px;
    padding: 60px 0px 0px 100px;
}

#start-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
    padding: 30px 0px 0px 20px;

}

.radio-buttons {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 15px;
    line-height: 40px;
    padding-left: 30px;
}

#lets-cook-button {
    height: 50px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(225, 225, 225);
    border-radius: 4px;
    margin: 50px;
}